---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import BlogPost from '../layouts/BlogPost.astro';
import Layout from '../layouts/Layout.astro';

type INotice = CollectionEntry<'blog'>;

const notices = await getCollection('blog');
// notices = notices.groupBy((article: INotice) => {
// 	const date = new Date(article.data.pubDate);
// 	return `${date.getFullYear()}-${date.getMonth() + 1}`;
// });

const currentYear = new Date().getFullYear();
const currentMonth = new Date().getMonth() + 1;

const currentMonthNotices = notices
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const currentMonthName = new Intl.DateTimeFormat('pt-BR', {
	month: 'long',
}).format(new Date(currentYear, currentMonth - 1));
---

<Layout>
	<h1
		class="max-md:block max-md:w-full max-md:text-center text-3xl font-bold mb-8 md:w-1/3 mx-auto text-left px-5"
	>
		Notícias
	</h1>

	<div>
		<h2 class="text-xl font-bold my-4 mb-8 capitalize">
			{`${currentMonthName} ${currentYear}`}
		</h2>
		<ul
			class="flex flex-col gap-8 list-none m-0 p-0 max-md:w-full ml-auto max-h-[900px] overflow-auto border-l-4 border-l-foreground/10 pl-4 pr-2 max-md:pl-0 max-md:border-l-0 max-md:pt-2 max-md:mt-0"
		>
			{
				currentMonthNotices.length === 0 ? (
					<p class="text-center">Nenhuma notícia publicada neste mês.</p>
				) : null
			}
			{
				currentMonthNotices.map((notice) => {
					const Content = notice.rendered?.html

					return (
							<li class="w-full flex flex-col justify-center items-center mx-auto">
									<BlogPost {...notice.data}>
											{Content && (
												<div
													class="prose prose-zinc mb-8 text-lg"
													set:html={Content}
												></div>
											)}
									</BlogPost>
							</li>
					);
			})
		</ul>
	</div>
</Layout>
