---
import { getCollection } from 'astro:content';
import {
StackeholderSection,
TeamSection,
TopSection,
} from '../components/index';
import Layout from '../layouts/Layout.astro';


const teamEntries = await getCollection('team');

const activeTeamData = teamEntries.find(entry => entry.data.active !== false)?.data || teamEntries[0]?.data;

const team = activeTeamData?.team?.map(member => ({
	name: member.name,
	role: member.role,
	group: member.group
})) || [];

---

<Layout class="bg-background">
	<div class="w-full flex justify-center">
		<div class="w-full max-w-xl px-2 lg:px-12 py-10 flex flex-col">
			<TopSection />
			<StackeholderSection />
			<TeamSection people={team} title="Quem Somos?" />
			<!-- <TeamSection people={advisoryCommittee} title="Comitê Consultivo" /> -->
		</div>
	</div>
</Layout>
