---
interface Props {
  fullImage?: boolean;
}

const { fullImage } = Astro.props;
---

<div class="w-full max-md:w-full bg-neutral-500 p-4 rounded-md">
  <img
    src="/images/uploads/Group 26.png"
    alt=""
    class={`${fullImage ? 'object-contain' : 'object-cover'} w-full h-full mt-8 mx-auto`}
  />
</div>
