backend:
  name: git-gateway
  branch: main  # Ou o nome da sua branch principal

media_folder: "public/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/content/blog"
    create: true
    slug: "{{slug}}"
    extension: "md"
    format: "frontmatter"
    fields:
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Descrição", name: "description", widget: "text" }
      - { label: "Data de Publicação", name: "pubDate", widget: "datetime" }
      - { label: "Imagem Principal", name: "heroImage", widget: "image" }
      - { label: "Conteúdo", name: "body", widget: "markdown" }
  - name: "artigos"
    label: "Artigos"
    folder: "src/content/articles"
    create: true
    slug: "{{slug}}"
    format: "frontmatter"
    extension: "md"
    fields:
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Resumo", name: "summary", widget: "text" }
      - { label: "Conteúdo", name: "body", widget: "markdown" }
      - { label: "Imagem Principal", name: "heroImage", widget: "image" }
      - { label: "Data de Publicação", name: "pubDate", widget: "datetime" }
      - { label: "Link", name: "link", widget: "string" }
      - label: "Autores"
        name: "authors"
        widget: "list"
        fields:
          - { label: "Nome", name: "name", widget: "string" }
          - { label: "Imagem", name: "image", widget: "image" }
  - name: dados
    label: Dados
    folder: content/dados
    create: true
    format: "json"        # Aqui você define que o arquivo será JSON
    extension: "json"
    fields:
      - { name: title, label: Título, widget: string }
      - { name: active, label: Ativo, widget: boolean }
      - { name: meta, label: Metadados, widget: list,
          fields: [
            { name: category, label: Tópico, widget: string },
            { name: questions, label: Tópicos, widget: list,
              fields: [
                { name: question, label: Pergunta, widget: string },
                { name: response, label: Resposta, widget: string },
              ]
            },
            
          ]
        }
  - name: team
    label: Equipe
    folder: content/team
    create: true
    format: "json"        # Aqui você define que o arquivo será JSON
    extension: "json"
    fields:
      - { name: title, label: Título, widget: string }
      - { name: active, label: Ativo, widget: boolean }
      - { name: team, label: Equipe, widget: list,
          fields: [
            { name: name, label: Nome, widget: string },
            { name: image, label: Imagem, widget: string },
            { name: role, label: Cargo, widget: string },
          ]
        }
      - {name: advisoryCommittee, label: Comitê, widget: list, 
          fields: [
            { name: name, label: Nome, widget: string },
            { name: image, label: Imagem, widget: string },
            { name: role, label: Cargo, widget: string },
          ]
        }
      - { name: stackeholders, label: Stackeholders, widget: list,
          fields: [
            { name: name, label: Nome, widget: string },
            { name: image, label: Imagem, widget: string },
            { name: role, label: Cargo, widget: string },
          ]
        }