backend:
  name: git-gateway
  branch: main  # Ou o nome da sua branch principal

media_folder: "public/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "articles"
    label: "Artigos"
    folder: "src/content/articles"
    create: true
    slug: "{{slug}}"
    format: "frontmatter"
    extension: "md"
    fields:
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Resumo", name: "summary", widget: "text" }
      - { label: "Conteúdo", name: "body", widget: "markdown" }
      - { label: "Imagem Principal", name: "heroImage", widget: "image" }
      - { label: "Data de Publicação", name: "pubDate", widget: "datetime" }
      - { label: "Link", name: "link", widget: "string" }
      - label: "Autores"
        name: "authors"
        widget: "list"
        fields:
          - { label: "Nome", name: "name", widget: "string" }
          - { label: "Imagem", name: "image", widget: "image" }
  - name: dados
    label: Dados
    folder: content/dados
    create: true
    format: "json"        # Aqui você define que o arquivo será JSON
    extension: "json"
    fields:
      - { name: title, label: Título, widget: string }
      - { name: active, label: Ativo, widget: boolean }
      - { name: meta, label: Metadados, widget: list,
          fields: [
            { name: category, label: Tópico, widget: string },
            { name: questions, label: Tópicos, widget: list,
              fields: [
                { name: question, label: Pergunta, widget: string },
                { name: response, label: Resposta, widget: string },
              ]
            },
            
          ]
        }
  - name: glossario
    label: Glossário
    folder: content/glossario
    create: true
    format: "json"        # Aqui você define que o arquivo será JSON
    extension: "json"
    fields:
      - { name: title, label: Título, widget: string }
      - { name: active, label: Ativo, widget: boolean }
      - { name: meta, label: Metadados, widget: list,
          fields: [
            { name: letter, label: Inicial, widget: string },
            { name: items, label: Itens, widget: list,
              fields: [
                { name: item, label: Item, widget: string },
                { name: description, label: Descrição, widget: string },
              ]
            },
            
          ]
        }
  - name: team
    label: Equipe
    folder: content/team
    create: true
    format: "json"        # Aqui você define que o arquivo será JSON
    extension: "json"
    fields:
      - { name: title, label: Título, widget: string }
      - { name: active, label: Ativo, widget: boolean }
      - { name: team, label: Equipe, widget: list,
          fields: [
            { name: name, label: Nome, widget: string },
            { name: image, label: Imagem, widget: string },
            { name: role, label: Cargo, widget: string },
          ]
        }
      - {name: advisoryCommittee, label: Comitê, widget: list, 
          fields: [
            { name: name, label: Nome, widget: string },
            { name: image, label: Imagem, widget: string },
          ]
        }
      - { name: stackeholders, label: Stackeholders, widget: list,
          fields: [
            { name: name, label: Nome, widget: string },
            { name: image, label: Imagem, widget: string },
            { name: role, label: Cargo, widget: string },
          ]
        }
  - name: privacy
    label: Política de Privacidade
    folder: content/privacidade
    create: true
    format: "json"
    extension: "json"
    fields:
      - { name: title, label: Título, widget: string }
      - { name: sub-title, label: Subtítulo, widget: string }
      - { name: active, label: Ativo, widget: boolean }
      - { name: lastUpdated, label: "Atualizado em", widget: string }
      - { name: version, label: Versão, widget: string }
      - { name: board, label: "Quadro Resumo", widget: object,
          fields: [
            { name: resume, label: Resumo, widget: text, required: false },
            { name: sections, label: Seções, widget: list,
              fields: [
                { name: title, label: Título, widget: string },
                { name: content, label: Conteúdo, widget: text, required: false },
                { name: description, label: Descrição, widget: text, required: false },
                { name: table, label: Tabela, widget: object,
                  fields: [
                    { name: headers, label: Cabeçalhos, widget: list, field: { label: Cabeçalho, name: header, widget: string } },
                    { name: rows, label: Linhas, widget: list,
                      fields: [
                        { name: columns, label: Colunas, widget: list,
                          fields: [
                            { name: content, label: Conteúdo, widget: string },
                            { name: bold, label: Negrito, widget: boolean, required: false }
                          ]
                        }
                      ]
                    },
                  ], required: false
                },
              ]
            },
          ]
        }