---
import type { CollectionEntry } from 'astro:content';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<main>
	<article class="w-full flex flex-col justify-center items-center">
		<div class="mt-6 w-11/12 h-[480px]">
			{
				heroImage && (
					<img
						class="max-w-full w-full h-full object-cover rounded-md shadow-lg shadow-zinc-500/80"
						src={heroImage}
						alt=""
					/>
				)
			}
		</div>
		<div class="w-2/3 mt-12">
			<div class="text-4xl font-bold mb-10">
				<div class="date">
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h1>{title}</h1>
				<hr />
			</div>
			<div class="prose prose-zinc mb-8 text-lg">
				<slot />
			</div>
		</div>
	</article>
</main>
<Footer />
