---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Training from '../components/training-modal/modal-training.tsx';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-background! text-foreground! h-screen flex flex-col w-full overflow-hidden">
    <Header />
    <Training isAuthenticated={false} client:load />
    <div id="main-scroll-container" class="mt-16 p-6 flex-1 overflow-y-auto">
      <slot />
    </div>
    <!-- <Footer /> -->
  </body>
</html>
