---
import { getCollection } from "astro:content";
import FaqList from "../../components/FAQ.tsx";
import Layout from "../../layouts/Layout.astro";
const questions = await getCollection("faq")

const onlyQuestions = questions.flatMap(category => category.data.meta?.flatMap(item => item.questions) ?? [])
---

<Layout>
  <div class="w-2/3 max-sm:w-11/12 flex flex-col items-start mx-auto">
    
    <FaqList client:load items={onlyQuestions} />
  </div>
</Layout>
